.login-page .kutg-input {
    max-width: 100%;
    width: 320px;
    height: 48px;

    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    transition: 0.3s;
    background: #7CE1EC;
    border: 1px solid #000000;
    border-radius: 16px;
}

.login-page {
    width: 100vw;
    padding: 8px;
    font-size: 16px;
    color: #919191;
    background: #C3F9FF;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}


.login-page .login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.login-page  img {
    max-width: 480px;
    width: 90%;
}

@media screen and (min-width: 480px) {
    .login-page .kutg-input {
        width: 400px;
    }
}