.ymaps-2-1-79-map {
    width: 100% !important;
    height: 100% !important;
}

.map-container {
    width: 100vw;
    height: 100vh;
}

.ymaps-2-1-79-copyright__wrap,
.ymaps-2-1-79-map-copyrights-promo {
    display: none !important;
}

#bottom-panel * {
    display: none;
}

#bottom-panel{
    background-color: var(--main-color);
    display: flex;
    height: 48px;
    position: fixed;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);  
    border-radius: 16px;
    width: 0;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    overflow: hidden;
    margin-bottom: 12px;
}

#bottom-panel.show{
    bottom: 0;
    width: 480px;
}

#bottom-panel.show * {
    display: flex;
}

.head{
    padding: 4px 0 8px;
    border-bottom: 1px solid gray;
}