#right-panel .right-buttons {
    height: 100%;
    height: auto;
    margin-right: 16px;
    justify-content: top;
    padding: 16px 0;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.right-menu-show-btn .icon{
    transition: transform 0.5s;
}
.right-menu-show-btn.active .icon {
    transform: rotate(-180deg);
    transition: transform 0.5s;
}

.right-buttons>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.right-buttons .center {
    height: 100%;

}

#right-panel {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    transform: translateX(320px);
    transition: transform 0.5s ease-in-out;
}

#right-panel.active{
    transform: translateX(0);
}

#right-panel .right-buttons button {
    background-color: var(--main-color);
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 42px;
    width: 42px;
    transition: 0.3s;
}

#right-panel .right-buttons button:hover {
    opacity: 0.8;
}

#right-panel .right-buttons button img {
    color: white;
    width: 100%;
}

.right-menu {
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 16px;
    height: 100vh;
    padding: 0 24px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);

    border-radius: 16px 0px 0px 16px;
}

.right-menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 48px;
}

.logo-container {
    height: 60px;
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;
}

.logo-container img {
    width: 28px;
    margin-left: 8px;
    margin-right: 10px;
}

.logo-text {
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-container img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.right-menu-links {
    display: flex;
    flex-direction: column;

}

.right-menu-link,
#exit-link,
#join-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: left;
    width: 100%;
}

.right-menu-link {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: left;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 16px;
    padding-bottom: 16px;
}

.right-menu-link .icon,
#exit-link .icon,
#join-link .icon {
    margin-right: 22px;
    margin-left: 10px;
    transition: 0.3s;
    color: rgba(var(--kutg-color-for-rgba), 0.8);
}

#exit-link,
#join-link {
    align-items: center;
    height: 48px;
    transition: 0.3s;
    border: none;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

#join-link {
    opacity: 0.9;
}

#exit-link:hover a,
#exit-link:hover .icon {
    opacity: 1;
    color: rgba(255, 0, 0, 0.8) !important;
}

#exit-link:hover {
    opacity: 0.9;
}

#exit-link a,
#exit-link .icon {
    color: rgb(0, 0, 0)
}

#join-link:hover {
    opacity: 0.5;
}

#join-link:hover a {
    opacity: 1;
    color: rgba(0, 0, 0, 0.8) !important;
}

.right-menu-link div {
    justify-content: space-between;
    max-width: 200px;
    display: flex;
    gap: 12px;
}

.right-menu-link div.column {
    justify-content: space-between;
    max-width: 200px;
    display: flex;
    gap: 4px;
    margin-top: 16px;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.socials .icon {
    color: rgba(var(--kutg-color-for-rgba), 0.8);
}

.social-logo {
    width: 24px;
    height: 24px;
}

.right-menu a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition: .3s;
    font-size: 15px;
    font-weight: 500;

    color: rgba(0, 0, 0, 0.8);
}

.right-menu a.active {
    opacity: 0.7;
}

.right-menu a:hover {
    opacity: 0.4;
}

.user-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user-info-name {
    font-size: 17px;
    font-weight: 500;
    color: #000000;
}

.user-info-group {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}